.jumbotron {
	background-color: #ffc107;
	margin-top: 50px;
}
.card-hotel {
	flex: 1 150px;
	margin-top: 10px;
}

.footer {
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top:10px;
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.tab-pane {
	padding-top: 10px;
}